saves/
logs/
crash-reports/
.mixin.out/
mods/
resourcepacks/
screenshots/
BotaniaVars.dat
natives/
*.bak
config/*
!config/incontrol/
!config/topography/
!config/isd/
!config/globalgame*
!config/jeiintegration*
!config/wabbity*
!config/morphtool*
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
notes.txt
scavenge_doc/*
*Shortcut.lnk
!quark-common.toml
!tconstruct-common.toml
*.blah
config.json
config.bak.json
config_new_temp.json
config/jei/bookmarks.ini
*.bbmodel
ct_dumps/
*/contenttweaker/*
*.xcf