saves/
logs/
crash-reports/
.mixin.out/
mods/
patchouli_books/
resourcepacks/
screenshots/
BotaniaVars.dat
config*.json
natives/
*.bak
config/*
!config/incontrol/
!config/topography/
!config/isd/
!config/jei/
!config/globalgame*
!config/waystones*
!config/jeresources*
!config/wabbity*
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json